#routes {
  margin-top: 10px;

  table {
    th {
      color: white;
    }
  }
}

.schedule-checkboxes {

  input[type="checkbox"] {
    display: inline-block;
    width: 10%;
  }

  input[type="checkbox"] + label {
    display: inline-block;
    margin-left: 10%;
    width: 80%;
  }
}
